@tailwind base;
@tailwind components;
@tailwind utilities;

/* @theme {
	--color-wordfeud-blank: #2b2f38;
	--color-wordfeud-triple-word: #8a3137;
	--color-wordfeud-triple-letter: #34639b;
	--color-wordfeud-double-word: #c97c23;
	--color-wordfeud-double-letter: #70975e;
	--color-wordfeud-tile: #f2efea;
	--color-wordfeud-placed-tile: #efe395;
} */
