# Node.js dependencies
node_modules/

# Logs
*.log
npm-debug.log*
*.cpuprofile

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/

# Build output
dist/
build/

# cache
cache/